<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
a:link
{
	text-decoration: none;
}

#container {
	width: 68em;
	overflow: hidden;
	margin: auto;
	margin-top: -1%; 
	background:white ;
}
@font-face {
    font-family: 'remachine';
    src: url('remachine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
	background: url(body.png);
	font-family: Oswald,Bebas Neue,Bebas,Arial Narrow,Sans-Serif;
}
#description
{
		font-family: remachine;
		font-size: 1.5em;
	
}
#header
    {
    height: 10em;
    width: 100%;
    position: relative;
    background-color: #117ED7;
	}

#logo {
    height: 22em;
    width: 32em;
    position: absolute;
    margin-left: 0em;
    margin-top: -5.5em;
}

#f {
    height: 3em;
    width: auto;
    position: absolute;
    margin-left: 52em;
    margin-top: 6.2em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	
}
#t {
    height: 3em;
    width: auto;
    position: absolute;
    margin-left: 55.5em;
    margin-top: 6.2em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
}
#g {
    height: 3em;
    width: auto;
    position: absolute;
    margin-left: 59em;
    margin-top: 6.2em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
}
#y {
    height: 3em;
    width: auto;
    position: absolute;
    margin-left: 62.5em;
    margin-top: 6.2em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
}

#s
{
	height: 3em;
    width: auto;
	border-radius: 0.5em;
}
#s:hover
{
  opacity: 0.8; 
  filter: alpha(opacity=10); 
  background: white;
  border-radius: 0.5em;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.menu {			
  margin: 0 auto;
  width: 50em;
  
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 140%;
}		

.menu li:hover {
  background: #e74c3c;
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 0.5em 3em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 15em;
  left: 50%; margin-left: -6.5em;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 0.5em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 3em #0F0F0F;			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

@font-face {
    font-family: 'CollegeDropout';
    src: url('CollegeDropout.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#type {
    height: 1.2em;
    width: 100%;
	text-align: center;
	font-size: 5em;
	color: blue ;
	font-family: CollegeDropout;

	
}
#footer {
    width: 100%;
    height: 8em;
    background-color:#117ED7;
	margin-bottom: 0em;

}

